.start {
    background: url("./assets/img/bg.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.start button {
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to bottom right, #f8ff00 0%, #3ad59f 25%, #3a63d5 65%, #753ad5 100%);
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 1.5em;
    font-weight: bold;
}

.start button:hover {
    transform: scale(1.02);
    border: none;
    outline: none;
}

.start button:active:after {
    transform: scale(1.02);
    border: none;
    outline: none;
}

.logo {
    background: url("./assets/img/Lyrisic_Artboard.png") no-repeat;
}


/* #aside {
    background: linear-gradient(95deg, rgba(0, 0, 0, 1) 0%, rgba(34, 87, 122, 1) 100%);
}

#lyricsBox {
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(34, 87, 122, 1) 100%);
} */

#middleFrame {
    background-image: radial-gradient(circle at bottom, rgb(34, 87, 122, 0.6)-30%, rgb(37, 94, 133, 0.6), rgb(1, 106, 138, 0.5), rgb(0, 115, 149, 0.5) -90%, rgb(0, 202, 170, 0.4), rgb(91, 190, 169, 0.8), rgb(91, 190, 132, 0.08), rgb(43, 42, 42, 1), #000000 75%);
    ;
}

#header {
    background: radial-gradient(circle, rgb(12, 31, 44) 0%, rgba(0, 0, 0, 1) 100%);
}

.mainLogo {
    position: relative;
    margin-left: 30;
    float: left;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}